<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nerd|board</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body>
  
    <div class="wrapper">
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
          
                <a class="navbar-item">
                  Documentation
                </a>
          
                
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {{#if loggedIn}}
                    <button id="logout" class="button is-primary">logout</button>
                    {{else}}
                    <button class="button is-primary" id="signBtn">
                      <strong>Sign up</strong>
                    </button>
                    <button class="button is-light" id="loginBtn">
                      Login
                    </button>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
      {{{ body }}}
    </main>

    <footer class="footer" id="FID" style="display: block;">
        <div class="content has-text-centered">
          <p>
              footer thanks for visiting balala
          </p>
        </div>
    </footer>

  {{!-- {{#if loggedIn}}

    <footer class="footer" id="FID" style="display: none;">
        <div class="content has-text-centered">
          <p>
              footer thanks for visiting balala
          </p>
        </div>
    </footer>
  {{/if}} --}}

    
  {{!-- <script src="./public/javascript/operation.js"></script>
  <script src="./public/javascript/login.js"></script> --}}
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script> 
  <script src="/javascript/blockfooter.js"></script>
  {{/if}}

</body>

</html>