<section class="section is-medium " id="login-page">
          <form class="login-form">
            <div class="container">
                <div class="notification is-primary">
                    <div class="field login-form">
                        <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email" id="email-login">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field login-form">
                        <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" id="password-login">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field login-form">
                        <p class="control">
                        <button type="submit" class="button is-success">
                            Login
                        </button>
                        </p>
                    </div>            
                  </div>
            </div>
          </form>

</section>  

        
<section class="section is-medium " id="signup-page">
          <form class="signup-form" >
            <div class="container">
              <div class="notification is-primary">
                  <div class="field signup-form">
                      <p class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Username" id="username-signup">
                      <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                      </span>
                      </p>
                  </div>
                  <div class="field signup-form">
                    <p class="control has-icons-left">
                    <input class="input" type="email" placeholder="email" id="email-signup" >
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </p>
                </div>
                  <div class="field signup-form">
                      <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password" id="password-signup">
                      <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                      </span>
                      </p>
                  </div>
                  <div class="field signup-form">
                      <p class="control">
                      <button type="submit" class="button is-success">
                          Sign up
                      </button>
                      </p>
                  </div>            
                </div>
          </div>
          </form>
</section>

<script src="javascript/operation.js"></script>
<script src="javascript/login.js"></script>
{{!-- <script src="/javascript/logout.js"></script> --}} 
