<div class="columns is-centered is-mobile">
<!--To do--> 
        <article class="to-do">
        <div class="column is-narrow">
          <div class="box" style="width: 300px; border-style:solid;">
            <p class="title is-5 has-text-centered">To Do</p>
          </div>
    

        <div class="col-12 col-md-6 col-xl-3 mb-3">
          <div class="card">
            <ul id="list-toDo" class="list-group list-group-flush">
            </ul>
          </div>
        </div>
        </article> 
 <!--To do--> 

  <!--In Process--> 
        <article class="in-process">
        <div class="column is-narrow">
          <div class="box" style="width: 300px; border-style:solid;">
            <p class="title is-5 has-text-centered">In Process</p>
        </div>    

        <div class="col-12 col-md-6 col-xl-3 mb-3">
          <div class="card">
            <ul id="list-toDo" class="list-group list-group-flush">
            </ul>
          </div>
        </div>
        </div>
        </article>
 <!--In Process--> 

  <!--Complete--> 
        <article class="complete">
        <div class="column is-narrow">
          <div class="box" style="width: 300px; border-style:solid;">
            <p class="title is-5 has-text-centered">Complete</p>
          </div>
          
          <div class="col-12 col-md-6 col-xl-3 mb-3">
            <div class="card">
              <ul id="list-done" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
          </article>
      
<!--Complete-->  
     </div>
    