.row {
    text-align: center;
    justify-content: space-between;
    font-family: "Lucida Console", "Courier New", monospace;
}

.text-center {
    font-size: 50px;
}

.title {
    font-family: "Lucida Console", "Courier New", monospace;
}

ul.list-group {
    min-height: 130px;
  }

