.section {
  /* padding: 5rem 3rem; */
  position: fixed;
  width: 100%;
  margin: 5% auto;
}

#signup-page {
  position: fixed;
  width: 100%;
  margin: 5% auto;
}

.notification.is-primary {
  background-color: skyblue;
  color: #fff;
  /* padding: 1.25rem 2.5rem 1.25rem 1.5rem; */
  padding: 5vw 8vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: -7vw;
}

.footer {
  background-color: skyblue;
  color: black;
  padding: 3rem 1.5rem 5.5rem;
  /* height: 50px; */
  /* margin-top: -50vw; */

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}

.list-group-item {
  border: grey solid;
  border-radius: 10px;
  padding: 5px;
  cursor: grab;
}

/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1920px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .section {
        padding: 5rem 3rem;
        margin-top: -2vw;
      }
      .footer {
        background-color: red;
        height: 50px;
        margin-top: -50vw;
        padding: 3rem 1.5rem 5.5rem;

      }
} */

.row {
  text-align: center;
  justify-content: space-between;
  font-family: "Lucida Console", "Courier New", monospace;
}

.text-center {
  font-size: 50px;
}

.title {
  font-family: "Lucida Console", "Courier New", monospace;
}

ul.list-group {
  min-height: 130px;
}

.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  font-family: "Staatliches", sans-serif;
  transform: translateY(150px);
  transition: all 0.5s ease-in-out;
  background-color: rgba(234, 0, 39, 0.7);
}

.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color: rgba(234, 0, 39, 1);
}
